.card {
  width: 20vw;
  height: 70vh;
  margin: .3vw;
  border-radius: 1vw;
  
}
.card-img {
  width: 19vw;
  height: 19vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1vw;
  border: 2px solid black;
}
.card-body {
  font-size: 1em;
  overflow: auto;

}
.list-group-item:last-of-type {
  cursor: pointer;
  border-radius: 0 0 1vw 1vw;
  background-color: cadetblue;
}

.list-group-item:last-of-type:active {
  background-color: rgb(65, 107, 109);
}